<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/assets/images/Bumler.png">
    $$CSS_LINKS$$

    <title>$$DOCUMENT_TITLE$$</title>
</head>
<body>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo"><a href="/">Nilket</a></div>
        </div>
    </nav>

    <main>

    <aside class="sidebar">
        <div class="sidebar-section">
            <span class="sidebar-label">Weeks</span>
            <a href="/week1/weekone.html" class="sidebar-item">First week</a>
            <a href="/week2/weektwo.html" class="sidebar-item">Second week</a>
            <a href="/week3/weekthree.html" class="sidebar-item">Third week</a>
            <a href="/week4/weekfour.html" class="sidebar-item">Fourth week</a>
            <a href="/week5/weekfive.html" class="sidebar-item">Fifth week</a>
            <a href="/week6/weeksix.html" class="sidebar-item">Sixth week</a>
            <a href="/week7/weekseven.html" class="sidebar-item">Seventh week</a>

        </div>
    </aside>